#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
include /usr/share/dpkg/pkg-info.mk
UV=$(shell echo "$(DEB_VERSION_UPSTREAM)" | sed "s/[+].*$$//")

%:
	dh $@

# If the go.sh script used standard mechanisms, we'd pass these parameters.
DESTDIR=$$(pwd)/debian/firmware-sof-bin
prefix=/
# Instead we pass ROOT as their concatenation.
root=$(DESTDIR)$(prefix)

override_dh_auto_install:
	mkdir -p $(root)/lib/firmware
	env \
		ROOT=$(root) \
		SOF_VERSION=v$(UV) \
		bash -e -x go.sh
